In [1]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import cross_val_score

In [2]:
data_train = pd.read_csv('D:\statistics\dogs_n_cats.csv')

In [3]:
data_train.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [4]:
x_train = data_train.drop(['Вид'],axis = 1)
x_train.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     15    18.0         1        1                   0
1     20    24.0         1        0                   0
2     34    40.8         1        1                   0
3     26    31.2         1        1                   0
4     16    19.2         1        1                   0

In [5]:
y_train = data_train.drop(['Длина','Высота','Шерстист','Гавкает','Лазает по деревьям'],axis = 1)
y_train.head()

       Вид
0  собачка
1  собачка
2  собачка
3  собачка
4  собачка

In [6]:
max_depth_values = 100

In [7]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy')

In [8]:
scores_data = pd.DataFrame()

In [9]:
mean_cross_val_score = cross_val_score(clf, x_train,y_train, cv = 5 )

In [10]:
for depth in range(1,100):
    clf = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = depth)
    mean_cross_val_score = cross_val_score(clf, x_train, y_train, cv = 5).mean()
    tempd_data = pd.DataFrame({'depth':[depth], 'cross_value_score':[mean_cross_val_score]})
    scores_data = scores_data.append(tempd_data)

In [11]:
scores_data.plot(x = 'depth')

In [12]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = 5)

In [13]:
clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [14]:
df = pd.read_json('D:\statistics\dataset_209691_15.txt')

In [15]:
df.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     22    26.4         1        1                   0
1     34    40.8         1        1                   0
2     25    30.0         1        1                   0
3     29    34.8         1        1                   0
4     18    21.6         1        1                   0

In [16]:
result = clf.predict(df)
result

array(['собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик'], dtype=object)

In [17]:
k = 0
for i in result:
    if i == 'собачка':
        k+=1
print(k)

50

In [18]:
result = pd.Series(result)
type(result)

pandas.core.series.Series

In [19]:
result[result == 'собачка'].count()

50

In [20]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = 5,min_samples_split = 5 )