In [1]:
from sklearn import tree
import pandas as pd

In [2]:
data = pd.DataFrame({'X_1': [1, 1, 1, 0, 0, 0, 0, 1], 'X_2': [0, 0, 0, 1, 0, 0, 0, 1], 
                     'Y': [1, 1, 1, 1, 0, 0, 0, 0]})
data

   X_1  X_2  Y
0    1    0  1
1    1    0  1
2    1    0  1
3    0    1  1
4    0    0  0
5    0    0  0
6    0    0  0
7    1    1  0

In [3]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy')

In [4]:
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [5]:
X = data[['X_1','X_2']]
y = data.Y

In [6]:
clf.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [7]:
data = pd.read_csv('D:\statistics\dogs.csv')
data

   Unnamed: 0  Шерстист  Гавкает  Лазает по деревьям      Вид
0           0         1        1                   0  собачка
1           1         1        1                   0  собачка
2           2         1        1                   0  собачка
3           3         1        1                   0  собачка
4           4         1        0                   1    котик
5           5         1        0                   1    котик
6           6         1        0                   1    котик
7           7         1        0                   1    котик

In [8]:
data.drop('Unnamed: 0',axis=1)

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик
5         1        0                   1    котик
6         1        0                   1    котик
7         1        0                   1    котик

In [9]:
data['Шерстист']

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: Шерстист, dtype: int64